<%- include('../partials/header.ejs') %>

<link rel="stylesheet" href="/style.css">

<body>
    <% if (login == 1) {%>
        <%- include('../partials/navbar.ejs') %>
        <% tarefas.forEach(tarefa => {%>
            <%= tarefa.usuario.nome %> <br>
        <% });  %>
    <% } else{ %>
        <h1>Você não tem acesso a essa rota</h1>
    <% } %>
</body>

<%- include('../partials/footer.ejs') %>