<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página admin</title>
</head>
<body>
    
    <% if (admin == 1) {%>
        <h1>Essa é a página de admin</h1>
    <% } else{ %>
        <h1>Rota não autorizada, você não é um admin</h1>
    <% } %>
</body>
</html>