
<nav>
    <h2>Empresa</h2>
    <ul>
        <% if (login == undefined ) {%>
            <li><a href="/login">Login</a></li>
       <%  }else{%>
        <li><a href="/sair">Sair</a></li>
       <% }   %>
        
    </ul>
</nav>

