
<nav>
    <style>
        #empresa{
            text-decoration: none;
            color: white;
        }
    </style>
    <a href="/" id="empresa"><h2>Empresa</h2></a>
    <ul>
        <% if (login == undefined ) {%>
            <li><a href="/login">Login</a></li>
       <%  }else{%>
        <li><a href="/sair">Sair</a></li>
       <% }   %>
        
    </ul>
</nav>

