<%- include('./partials/header.ejs') %>

<body>

    <%- include('./partials/navbar.ejs') %>

    <% if (cadastroCompleto) {%>
        <h2 style="color: green;">Castro feito com sucesso</h2>
    <% }  %>
    <div class="card">
        <h1 style="text-align: center;">Crie uma conta</h1>
    <form action="/" method="POST">
        <h3>Nome:</h3>
        <input type="text" name="nome" placeholder="Digite seu nome:" required>
        <h3>Email:</h3>
        <% if (erroEmail) {%>
            <h3 style="color: red;">Esse email já está sendo utilizado</h3>
        <% } %>
        <input type="email" name="email" placeholder="Digite seu email:" required>
        <h3>Senha:</h3>
        <input type="password" name="senha" placeholder="Digite a sua senha:" required>
        <h3>Deseja criar uma conta como admin?</h3>
        <div>
            <p>Sim</p>
            <input type="radio" name="admin"  value="true">
            <p>Não</p>
            <input type="radio" name="admin" value="false">
        </div>

        <button>Cadastrar</button>
    </form>
    </div>

</body>

<%- include('./partials/footer.ejs') %>