<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        .projeto {
            width: 80%;
            padding: 20px;
            border: solid green 2px;
            margin: auto;
        }

        .container{
            margin-top:25px;
        }
    </style>
    <title>Document</title>
</head>

<body>


    <% if (admin==0) {%>

        <div class="container">
            <div class="projeto">
               <h1>Nome do Projeto:</h1>
               <h3>
                <%= projeto.nome %>
            </h3>
            <br>
            <h3>Adicionar Tarefa Feita:</h3>
            <form action="/adicionar" method="POST">
                <h3>Nome:</h3>
                <input type="text" name="nome" placeholder="Digite o nome:">
                <h3>Relatório:</h3>
                <textarea style="width: 500px; height: 300px;" name="relatorio"></textarea>
                <h3>Data de entrada e horário:</h3>
                <input type="datetime-local" name="horaEntrada">
                <h3>Data de saida e horário:</h3>
                <input type="datetime-local" name="horaSaida">
                <input type="hidden" value="<%= projeto.id %>" name="projetoId">
                <br>
                <button>Criar Tarefa</button>
            </form>
            </div>
        </div>

        <%} else{%>
            <h1>Você não tem acesso a essa rota, você é um admin</h1>
            <% } %>


</body>

</html>